.nav-item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 10px;
   flex-wrap: wrap;
   margin: 0px;
   
}

.logo-container{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 2.3vh;
    color:darkblue;
    font-weight: bolder;
}

.logo{
    width:12.5vh;
}

.yatra{
    color:brown;
    font-weight: bolder;
}

.menu{
    font-weight: bolder;
    display: flex;
    gap: 40px;
    font-size: 3vh;
}

.link{
    display: flex;
    text-decoration: none;
    color:darkblue;
    font-weight: bolder;
    gap: 10px;
}
.auth{
    color: brown;
}
.menu-toggle{
    display: none;
}
.hamburger{
    display: none;
    color: brown;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width:760px){
    .logo{
        width: 11vh;
    }
    .logo-container{
        font-size: 1.9vh;
    }
    .menu{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 10px;
        margin-top: 10px;
    }
    .hamburger{
        display: block;
        
    }
    
    .menu-toggle:checked ~ .menu {
        display: flex;
        align-items: center;
    }
    
}