:root {
    --primary: brown;
    --secondary: darkblue;
    --light: cornsilk;
    --white: white;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light);
   
    color: #222;
}


section {
    padding: 60px 8%;
}

h2 {
    text-align: center;
    color: var(--secondary);
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: var(--primary);
    margin-bottom: 25px;
}


.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: var(--white);

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
    url('https://www.holidify.com/images/bgImages/JAIPUR.jpg') center/cover;
}

.hero h1 {
    font-size: 48px;
    letter-spacing: 1px;
}

.hero p {
    font-size: 16px;
}

.search-box {
    margin-top: 15px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background: var(--white);
}

.search-box input {
    padding: 10px 15px;
    width: 260px;
    border: none;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    background: var(--primary);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.intro {
    text-align: center;
}

.categories {
    text-align: center;
    padding: 10px;
}

.categories button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    background: var(--secondary);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.categories button:hover {
    background: var(--primary);
}

.places-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.place-card {
    margin-top: 20px;
    background: var(--white);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.place-card:hover {
    transform: translateY(-8px);
}


.place-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.place-info {
    padding: 12px;
}

.place-info h3 {
    color: var(--secondary);
}

.place-info p {
    color: var(--primary);
    font-size: 14px;
}

.types {
    text-align: center;
}

.types-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.type-card {
    background: var(--white);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    margin-top: 20px;
}

.type-card:hover {
    transform: translateY(-8px);
}

.type-card i {
    font-size: 30px;
    color: var(--secondary);
    margin-bottom: 10px;
}
.type-card p{
    color: var(--primary);
}
.top-picks {
    padding-top: 0;
}

.cta {
    background: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 50px 20px;
}

.cta button {
    margin-top: 10px;
    padding: 10px 22px;
    border: none;
    background: var(--white);
    color: var(--primary);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.cta button:hover {
    background: var(--secondary);
    color: var(--white);
}


@media (max-width: 760px) {
    .hero h1 {
        font-size: 32px;
    }

    .search-box input {
        width: 180px;
    }
}